@import url("styles/header.css");
@import url("styles/footer.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/contatos.css");

:root {
    --branco-mel: #FFFBEB;
    --cinza: #9799A6;
    --branco: #FFFFFF;
    --azul-claro: #495579;
    --azul: #263159;
    --azul-escuro: #251749;
    --font-principal: "Roboto";
    --font-secundario: "Inter";
}

body {
    background-color: var(--azul-escuro);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

