.banner {
    background: var(--azul);
    color: var(--branco-mel);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__txt {
    font-weight: 500;
    margin: 1em 0;
}