.contatos {
    /* background-image: url("../img/background-galaxy.png");
    background-repeat: no-repeat; */
    text-align: center;
    padding: 1em 0;
}

.contatos__titulo {
    color: var(--branco-mel);
    font-weight: 700;
    font-size: 18px;
}

.contatos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contatos__item {
    display: flex;
    align-items: center;
    margin: 2em 0.5em;
}

.contatos__icon {
    filter: invert(88%) sepia(3%) saturate(1502%) hue-rotate(1deg) brightness(117%) contrast(101%);
}

.contatos__icon-vitdev {
    height: 20px;
    width: 20px;
    
}

.contatos__link {
    color: var(--branco-mel);
    padding: 0.5em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}