.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-claro);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item:hover {
    background: var(--branco-mel);
}

.lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--azul-claro);
    text-decoration: none;
    font-size: 18px;
}

.cabeçalho {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 0.75em;
}

.container__icon{
    height: 55px;
    width: 35px;
    /* site para mudar cor de svg : https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(88%) sepia(3%) saturate(1502%) hue-rotate(1deg) brightness(117%) contrast(101%);
    
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--azul-claro);
}

.lista-menu__link {
    background: var(--branco-mel);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__logo-titulo {
    display: flex;
    align-items: center;
}

.container__titulo {
    font-weight: bold;
    color: var(--branco-mel);
    font-family: var(--font-secundario);
}

.opções {
    display: none;
}

.container__texto {
    display: none;
}


@media screen and (min-width:1024px) {
    
    .container__titulo {
        font-size: 26px;
    }

    .cabeçalho__menu-hamburguer{
        display: none;
    }

    .opções {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .opções__item {
        padding: 0 1em;
        
    }
    
    .opções__item {
        padding: 2em 1em;
        border-radius: 25px;
    }

    .opções__item:hover {
        background: var(--branco-mel);
        cursor: pointer;
    }
    
    .opções__item:hover > .opções__link {
        -webkit-text-fill-color: var(--azul-claro);
        text-decoration: none;
        font-size: 18px;
    }

    .opções__link {
        text-decoration: none;
        color: var(--branco-mel);
    }

    
}
