.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--branco);
}

.cabeçalho {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    
}
/* .container {
    background-color: var(--azul-claro);
    height: 80px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.container__titulo {
    font-weight: bold;
    
}

.container__titulo a {
    text-decoration: none;
    color: inherit;
}

.container-nav__link {
    padding: 10px;
    margin-bottom: 10px;
    color: var(--cinza);
    background-color: var(--branco);
    text-decoration: none;
    transition: .5s;
    
} */